.consultation
    min-height: 680px
    padding: 100px 0 92px 0
    background: url( '../img/Bg/bg2.png') center (center/cover) no-repeat
    &__descr
        color: #ffffff
        font-size: 20px
        font-weight: 500
    .error
        border: 1px solid red
    label.error
        color: #ffff
        margin-top: 9px
        border: none
        text-align: center
        margin-bottom: 6px
        

.title
    color: #0D0D0D
    font-weight: 700
    font-size: 30px
    line-height: 30px
    text-align: center
    text-transform: uppercase
    &_left
        color: #ffffff
        font-size: 36px
        text-align: left
